.footer_top {
    position: fixed;
    background: #D0F4EA;
    top: 87%;
    width: 100%;
    height: 8%;
    left:0;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 150px 150px;
    justify-content: center;
}

.footer_bottom{
    position:fixed;
    background: #545F66;
    top: 95%;
    width: 100%;
    height: 5%;
    left: 0;
    justify-content: centerxx;
}


.footer_text {
   font-family: 'Arial Black';  
}

.footer_top_text_color {
    color: #545F66;
}

.footer_bottom_text_color {
    color: #D0F4EA;
}

